model/*
libs/*

example-image/*
!example-image/src
!example-image/addons.make

example-webcam/*
!example-webcam/src
!example-webcam/addons.make

example-vive/*
!example-vive/src
!example-vive/addons.make

pytorch_model_export/*
!pytorch_model_export/model_export.py
!pytorch_model_export/my_Inception_v3.py
!pytorch_model_export/spyNet.py
