model/*
!model/.gitkeep

libs/*
!libs/win/include/vs/x64/Debug/.gitkeep
!libs/win/include/vs/x64/Release/.gitkeep
!libs/win/lib/vs/x64/Debug/.gitkeep
!libs/win/lib/vs/x64/Release/.gitkeep

example-image/*
!example-image/src
!example-image/addons.make

example-webcam/*
!example-webcam/src
!example-webcam/addons.make

example-vive/*
!example-vive/src
!example-vive/addons.make

python/*
!python/model_export.py
!python/my_Inception_v3.py
!python/spyNet.py
